{% extends 'base.html' %}

{% block content %}
<div class="wrapper" style="background-color: #00b8e6">
        {# #0b3a56#}
        <nav class="navbar navbar-light bg-transparent" style="width: 100%">
            <div class="container-fluid">

                <img src="/media/images/kingtab.png" alt="" width="200px" height="auto">

            </div>
        </nav>
    </div>

<div class="card">
    <img src="/media/images/comp_service.jpg.png" alt="" style="width: 100vw; height: auto;">
</div>

<div style="padding:10px">
    <h2 style="padding:10px; color: #0086b3">Computer Services</h2>
    <span>It is natural when you own a computer to become attached to it to a certain degree. This is also true if you
        work in a company that uses computers, you can become attached to the computer that helps you do your work. For
        most of us, the days are few and far between when we do not use our computers to pay bills, play games, surf the
        internet, or a plethora of other activities, and that is just on our own time. But
        many times our computers have issues and we are far too invested in them to take notice. Sometimes we are also
        far too invested in our business to notice the same problems. Bottom line, when a problem first starts, an expert
        needs to have a look as soon as possible, and since computers are such an integral part of our lives, it is crucial
        that we take care of them by having them properly maintained.</span><br>
    <br>
    <span>Here at KingTablet Electronics, we offer expert level services. We help you and your business with computer
    maintenance which helps prevent future potential problems that may be a risk to your business. We will also help
    keep your computer to-date wih latest operating system, software and implement stronger security.</span><br>
    <br>
    <h2 style="color: #0086b3">Below are a few of the services we provide:</h2>
</div>

<div class="services">
    <div class="card">
    <div class="card-title" style="background-color: #66ccff">
        <h4>Virus, Malware and Spyware removal</h4>
    </div>
  <img src="/media/images/kingtab_malware.jpg" class="card-img-top" alt="..." >
  <div class="card-body" style="background-color: #66ccff">
    <p class="card-text">Did you know that viruses and spyware can wreak havoc on your hard drive, take over your computer
    and even make you prone to fraudulent activity on your bank account? Our crews can not only remove any threats from
    your computer, but will also install the proper software to prevent another attack from happening in the future.</p>
  </div>
</div>

    <div class="card">
    <div class="card-title" style="background-color: #66ccff">
        <h4>Data Recovery &#038; System Backup Services</h4>
    </div>
  <img src="/media/images/data_recovery.jpg" class="card-img-top" alt="..." >
  <div class="card-body" style="background-color: #66ccff">
    <p class="card-text">Your computer networks are likely filled with important documents, emails, and other files
        that help keep your company running. But what would happen if all of that data disappeared? KingTablet on site can
        not only help you recover your lost files, but also keep that from happening again.</p>
  </div>
</div>

    <div class="card">
    <div class="card-title" style="background-color: #66ccff">
        <h4>Home Computer Repair Service</h4>
    </div>
  <img src="/media/images/homerep.jpg" class="card-img-top" alt="..." >
  <div class="card-body" style="background-color: #66ccff">
    <p class="card-text">Whether your computer is running slowly or recently crashed, KingTablet can help you get
        back on track. However, we also set up programs like email, configure hardware such as cameras, scanners,
        printers, and even iPods. We service all computer desktop and laptop brands, for both the PC and MAC operating
        systems.</p>
  </div>
</div>

    <div class="card">
    <div class="card-title" style="background-color: #66ccff">
        <h4>Laptop &#038; Desktop Repair Services</h4>
    </div>
  <img src="/media/images/lap&desktop.jpg" class="card-img-top" alt="..." >
  <div class="card-body" style="background-color: #66ccff">
    <p class="card-text">You are probably one of the millions who rely on your PC or laptop to access the Internet.
        Whether you work from home, are preparing a report for school, or just use it for leisure purposes, your
        computer is an important tool, and not being able to use it can turn into a major inconvenience. Let KingTablet
        help you avoid any hassles.</p>
  </div>
</div>
</div>

<div style="padding: 10px">
    <h2 style="padding:10px; color: #0086b3">5 Reasons Why Computer Maintenance Is Important</h2>
    <h5 style="color: #0086b3">Early Detection of Issues</h5>
    <p>Computers can be temperamental, and we all know that small issues can become huge problems before we know it.
        But, having regular maintenance check done on your computer can eradicate small issues before they become big
        problems. Small issues can crop up at any time, even when your computer is new, nipping them in the bud during
        a regular maintenance session can save you a lot of headaches when the computer starts to age.</p><br>
    <br>
    <h5 style="color: #0086b3">Prevention Against Viruses and Malware</h5>
    <p>It seems like no matter how often we sweep our computers or run virus checks on them, our computers are still
        vulnerable to harmful viruses. There are innumerable viruses and malware already out there just waiting to
        infect computers, and more are being created every day. Some are meant to be a daily annoyance and slow down
        the processing time of the computer or make pop-up messages appear, but others can infect entire operating
        systems. When this occurs either at home or a business, it can be costly to fix and can even cost a company
        money in other ways such as loss of productivity. But, keeping computers well-maintained can keep both viruses
        and malware away and keep your computer running in tip-top shape.  Regular maintenance can also help you ensure
        your antivirus software is up-to-date and working properly.</p><br>
    <br>
    <h5 style="color: #0086b3">Speed up Your Computer</h5>
    <p>Nothing can be more frustrating than a computer that processes too slowly. But, as most of us can attest,
        over time our computers get clogged up with files and everything gets disorganized and fragmented. The result
        is slow processing times. Computer maintenance techs are experts at running speed and optimization checks that
        can pinpoint issues and keep your computer running at an optimal speed.</p><br>
    <br>
    <h5 style="color: #0086b3">Maximize your Software Efficiency</h5>
    <p>Another reason your computer may slow down over time is that your software package is getting old. Since this
        change happens gradually, your computer simply gets used to it and thinks that it is normal. But, having
        regularly scheduled maintenance on your computer will clean out any issues and have your software running
        perfectly again.</p><br>
    <br>
    <h5 style="color: #0086b3">Prevent Data Loss</h5>
    <p>Although data loss is uncommon, if it does happen, it can wreak havoc on your life. When your computer starts
        running slowly or begins having occasional hiccups, it can require a system reboot that can ultimately result
        in lost data. However, keeping your computer maintained will lessen the likelihood of these instances and keep
        your data safe and secure for when you need to access it.</p><br>
    <br>
</div>

<div class="page-wrapper"></div>

<div class="footer">
        <div class="footer-content">
            <div class="footer-section contact">
                <h1>
                    <ul>
                        <li>King Tablet</li>
                        <li>services</li>
                    </ul>
                </h1>
                <h4>Contacts</h4>
                <ul>
                    <li>Phone no: +254 722 572130</li>

                    <li>Email: kingtablet@gmail.com</li>

                    <li>Social media: <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/+254715412469" class="whatsapp_float" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                    </li>

                </ul>
            </div>

            <div class="footer-section links">
                <h4>Quick links</h4>
                <ul>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Contact us</li>
                    </a>
                    <a href="#">
                        <li>Location</li>
                    </a>
                    <a href="#">
                        <li>Create account</li>
                    </a>

                </ul>
            </div>

{#            <div class="footer-section contact-form">#}
{#                <h4>Contact us</h4>#}
{#                <br>#}
{#                <form action="index html" method="post">#}
{#                    <input type="email" name="email" class="text-input contact-input"#}
{#                           placeholder="Enter email address...">#}
{#                    <textarea name="message" class="text-input contact-input"></textarea>#}
{#                    <button type="submit" class="btn btn-big">#}
{#                        Send#}
{#                        <i class="fas fa-envelope"></i>#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
        </div>
        <div class="footer-bottom">
            &copy;2021 | All rights reserved
        </div>
    </div>
{% endblock %}