{% extends 'base.html' %}

{% block content %}
<div class="wrapper" style="background-color: #00b8e6">
        {# #0b3a56#}
        <nav class="navbar navbar-light bg-transparent" style="width: 100%">
            <div class="container-fluid">

                <img src="/media/images/kingtab.png" alt="" width="200px" height="auto">

            </div>
        </nav>
    </div>

<h2 style="padding:10px; color: #0086b3">Internet Services</h2>

<div class="card" style="border-color: white">
    <img src="/media/images/internet-service.png" alt="">
</div>

<div style="padding: 10px">
    <p>When set up properly, your home Wi-Fi system will allow you to quickly and securely access the Internet anywhere
    in your home from multiple devices. When you have your own Wi-Fi at home, you no longer struggle with slow
    downloading of software and streaming services. There are no messy cables or dropped connections. You can also add
    your smart appliances and security system to the network for greater use and control.</p>
<br>
<p>Reach out today and one of our highly trained technicians can be dispatched to your home, installing and setting up
    a secure Wi-Fi network that runs at optimum speed and capacity.</p>
</div>

<div class="page-wrapper"></div>

<div class="footer">
        <div class="footer-content">
            <div class="footer-section contact">
                <h1>
                    <ul>
                        <li>King Tablet</li>
                        <li>services</li>
                    </ul>
                </h1>
                <h4>Contacts</h4>
                <ul>
                    <li>Phone no: +254 722 572130</li>

                    <li>Email: kingtablet@gmail.com</li>

                    <li>Social media: <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/+254715412469" class="whatsapp_float" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                    </li>

                </ul>
            </div>

            <div class="footer-section links">
                <h4>Quick links</h4>
                <ul>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Contact us</li>
                    </a>
                    <a href="#">
                        <li>Location</li>
                    </a>
                    <a href="#">
                        <li>Create account</li>
                    </a>

                </ul>
            </div>

{#            <div class="footer-section contact-form">#}
{#                <h4>Contact us</h4>#}
{#                <br>#}
{#                <form action="index html" method="post">#}
{#                    <input type="email" name="email" class="text-input contact-input"#}
{#                           placeholder="Enter email address...">#}
{#                    <textarea name="message" class="text-input contact-input"></textarea>#}
{#                    <button type="submit" class="btn btn-big">#}
{#                        Send#}
{#                        <i class="fas fa-envelope"></i>#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
        </div>
        <div class="footer-bottom">
            &copy;2021 | All rights reserved
        </div>
    </div>
{% endblock %}