{% extends 'base.html' %}

{% block content %}
<div class="wrapper" style="background-color: #00b8e6">
        {# #0b3a56#}
        <nav class="navbar navbar-light bg-transparent" style="width: 100%">
            <div class="container-fluid">

                <img src="/media/images/kingtab.png" alt="" width="200px" height="auto">

            </div>
        </nav>
    </div>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/images/phone_repair.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/media/images/phone_repair2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/media/images/repairss.jpg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="/media/images/sell-phone-new.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>

<h2 style="padding:10px; color: #0086b3">Phone repair services we provide:</h2>
<br>
<ul>
    <li><p>Phone screen replacement</p></li>
    <li><p>Battery replacement</p></li>
</ul>

<div class="page-wrapper"></div>

<div class="footer">
        <div class="footer-content">
            <div class="footer-section contact">
                <h1>
                    <ul>
                        <li>King Tablet</li>
                        <li>services</li>
                    </ul>
                </h1>
                <h4>Contacts</h4>
                <ul>
                    <li>Phone no: +254 722 572130</li>

                    <li>Email: kingtablet@gmail.com</li>

                    <li>Social media: <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/+254715412469" class="whatsapp_float" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                    </li>

                </ul>
            </div>

            <div class="footer-section links">
                <h4>Quick links</h4>
                <ul>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Contact us</li>
                    </a>
                    <a href="#">
                        <li>Location</li>
                    </a>
                    <a href="#">
                        <li>Create account</li>
                    </a>

                </ul>
            </div>

{#            <div class="footer-section contact-form">#}
{#                <h4>Contact us</h4>#}
{#                <br>#}
{#                <form action="index html" method="post">#}
{#                    <input type="email" name="email" class="text-input contact-input"#}
{#                           placeholder="Enter email address...">#}
{#                    <textarea name="message" class="text-input contact-input"></textarea>#}
{#                    <button type="submit" class="btn btn-big">#}
{#                        Send#}
{#                        <i class="fas fa-envelope"></i>#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
        </div>
        <div class="footer-bottom">
            &copy;2021 | All rights reserved
        </div>
    </div>
{% endblock %}